.navigation {
  height: 50px;
  width: 100%;
  background-color: green;
  color: white;
}

.button {
  float: right;
  background-color: green;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.plus {
  font-size: 19px;
  background-color: green;
  color: white;
  border: 1px solid black;
}

.saveButton {
  background-color: green;
  color: white;
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 14px;
}

.insertTitle,
.insertItem {
  font-size: 20px;
  width: 300px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.addList {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 40%;
}

.container {
  background-image: linear-gradient(to right, #83a7b4, #097ca4);
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.userName,
.password {
  font-size: 20px;
  height: 25px;
  width: 250px;
}

.credentials {
  position: absolute;
  top: 100px;
  right: 120px;
}

.signUp {
  text-decoration: none;
  font-weight: lighter;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  text-align: center;
  background-color: #43677d;
  padding-right: 30px;
  padding-left: 30px;
}

.login {
  font-size: 18px;
  background-color: #43677d;
  height: 40px;
  color: white;
  position: absolute;
  top: 250px;
  right: 140px;
  width: 260px;
}

.toDoImg {
  background-image: url("../images/toDo.jpg");
  height: 60%;
  width: 60%;
  position: absolute;
  left: 15%;
  top: 70px;
  background-repeat: no-repeat;
  transform: rotate(-15deg);
}

td {
  padding: 20px;
  text-align: center;
}

.signUpDiv {
  position: absolute;
  top: 370px;
  right: 260px;
  font-size: 20px;
}

.signUpButton {
  font-size: 18px;
  background-color: #43677d;
  height: 40px;
  color: white;
  position: absolute;
  top: 350px;
  right: 140px;
  width: 260px;
}

.TODO {
  border: 1px solid black;
  margin-top: 2%;
  width: 30%;
  height: 50%;
  margin-left: 1%;
  overflow: scroll;
  position: relative;
}

.TODOs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.description {
  margin-bottom: 20px;
}

.backToLogin {
  font-size: 18px;
  background-color: #43677d;
  height: 35px;
  color: white;
  position: absolute;
  top: 400px;
  right: 140px;
  width: 260px;
  padding-top: 2px;
  text-align: center;
}

.insertItem {
  margin-left: 4%;
}
